<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magnify.utils">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.CurrentApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.magnify.utils.base.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".ui.common.MainActivity"
            android:label="工具类实用集锦"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--###########################################share SDk ###########################################-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--###########################################share SDk ###########################################-->
        <activity android:name=".ui.ui_adapter.RandCharActivity" />
        <activity android:name=".ui.ui_utils.SaveToolAndPreferenceActivity" />
        <activity android:name=".ui.ui_adapter.CreateDataUtilsActivity" />
        <activity android:name=".ui.common.ImageBrowseActivity" />
        <activity android:name=".ui.common.CollectingActivity" />
        <activity android:name=".ui.common.WebViewActivity" />
        <activity
            android:name=".ui.ui_adapter.HeaderChildFooterActivity"
            android:windowSoftInputMode="stateUnspecified|adjustNothing" />
        <activity android:name=".ui.ui_adapter.AutoCompeleActivity" />
        <activity android:name=".ui.ui_view.ActivityShowView" />
        <activity android:name=".ui.ui_adapter.ActivityMultiTypeAdapter" />
        <activity android:name=".ui.ui_adapter.ActivityRecylerMultiTypeAdapter" />
        <activity android:name=".ui.ui_utils.ActivityEncryptUtil" />
        <activity android:name=".ui.ActivityDialog" />
        <activity android:name=".ui.common.CategoryActivity" />
        <activity android:name="com.magnify.utils.base.BaseWebViewActivity" />
        <activity android:name=".ui.ui_view.ActivityBannerView" />
        <activity android:name=".ui.ui_view.AdaptTextViewActivity" />
        <activity android:name=".ui.component.ActivityPictureActivity" />
        <activity android:name=".ui.component.PictureSelectActivity" />
        <activity android:name=".ui.ui_animation.ViewAnimationActivity" />
        <activity
            android:name=".ui.ui_view.ActivityEditTextAtListView"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>